body {
    background-color: rgb(48, 48, 48);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outerbody {
    background-color: bisque;
    width: 450px;
    height: 600px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.buttons {
    background-color: goldenrod;
    width: 400px;
    height: 400px;
    border-radius: 25px;
    margin-bottom: 25px;
    display: flex;
}

.screen {
    background-color: gray;
    width: 400px;
    height: 150px;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}